.about-container {
  width: 100%;
  min-height: 100vh;
  background: #f5f7fa;
  display: block;
  padding: 40px 20px;
}
.about-container .back-btn{
position: absolute;
  top: 20px;
  float: left;
  left: 20px;
  background: #d2d2d3;
  border: none;
  padding: 8px 14px;
  font-size: 15px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s ease;}

.back-btn:hover {
  background: #1d4ed8;
}

/* Card */
.about-card {
  width: 380px;
  background: white;
  margin: 80px auto; 
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.15);
}

/* Image Wrapper */
.about-image-wrapper {
  width: 200px;
  height: 250px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.about-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Text */
.about-name {
  font-size: 22px;
  font-weight: 700;
  margin-top: 20px;
}

.about-role {
  font-size: 16px;
  font-weight: 500;
  color: #4caf50;
  margin-bottom: 12px;
}

.about-interest{
   font-size: 20px;
  font-weight: 500;
  color: #4caf50;
  margin-bottom: 12px;
}

.about-description {
  font-size: 14px;
  line-height: 1.6;
  color: #555;
  margin-top: 10px;
}
