html,body {
  overflow-y: hidden;
  font-family: sans-serif;
   margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.splashed{
    position: fixed;             
    top: 0;
    left: 0;
    background-image:  linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../images/leafed.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
}

.splash-container {
  display: flex;                  
  justify-content: center;        
  align-items: center;            
  flex-direction: column;        
  width: 100%;
  min-height: 100vh;
  text-align: center;
}

.main-text {
  color: rgb(228, 226, 226);
  margin-bottom: 10px;
  font-size: 50px;
  letter-spacing: 4px;
}

.text {
  color: rgb(170, 169, 169);
  margin-bottom: 10px;
  font-size: 20px;
  letter-spacing: 4px;
}

.loading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading .line-box {
  padding: 2px;
  width: 40%;
  height: 20px;
  border: 2px solid #267191;
  border-radius: 20px;
}

.loading .line-box .line {
  height: 14px;
  border-radius: 20px;
  background: #67D295;
  animation: loading 4s forwards cubic-bezier(0, 0, 0, 0);
}

@keyframes loading {
  0% {
    width: 0%;
  }
  50%{
    width: 10%;
  }
  60%{
    width: 20%;
  }
  80%{
    width: 40%;
  }
  100% {
    width: 100%;
  }
}
